<nav class="space-x-4">
	<button data-page="login" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
		onclick="loadPartialView('login')"><%= t('menu.login') %></button>
	<button data-page="register" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
		onclick="loadPartialView('register')"><%= t('menu.register') %></button>
	<button data-page="about" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
		onclick="loadPartialView('about')"><%= t('menu.about') %></button>
</nav>