<nav class="flex items-start space-x-8 text-3xl">
	<button data-page="profile" class="cursor-pointer hover:scale-110 hover:glow-blue text-white font-bold py-2 px-4 rounded-full glow-green"
		onclick="loadPartialView('profile')"><%= t('menu.profile') %></button>
	<button data-page="game_setup" class="cursor-pointer hover:scale-110 hover:glow-blue text-white font-bold py-2 px-4 rounded-full glow-green"
		onclick="loadPartialView('game_page')"><%= t('menu.game') %></button>
	<button data-page="logout" class="cursor-pointer hover:scale-110 hover:glow-blue text-white font-bold py-2 px-4 rounded-full glow-green"
		onclick="logout()">
		Logout
	</button>
	<button data-page="about" class="cursor-pointer hover:scale-110 hover:glow-blue text-white font-bold py-2 px-4 rounded-full glow-green"
		onclick="loadPartialView('about')"><%= t('menu.about') %></button>
</nav>