<!DOCTYPE html>
<html lang="en">

<head>
	<title>Home</title>
	<link rel="stylesheet" href="/static/css/styles.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css">
	<link rel="icon" href="/static/assets/favicons/favicon.ico" type="image/x-icon">
</head>

<body class="bg-gray-100 text-gray-900">
	<header class="bg-blue-600 text-white p-4 shadow-md">
		<div class="container mx-auto flex justify-between items-center">
			<h1 class="text-2xl font-bold" onclick="loadPartialView('index')">Welcome to Transcendence</h1>
			<nav class="space-x-4">
				<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
					onclick="loadPartialView('index')">Home</button>
				<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
					onclick="loadPartialView('profile')">Profile</button>
				<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
					onclick="loadPartialView('game')">Game</button>
				<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
					onclick="loadPartialView('login')">Login</button>
				<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
					onclick="loadPartialView('register')">Register</button>
				<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
					onclick="loadPartialView('about')">About</button>
				<button id="darkModeToggle" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded"
					onclick="toggleDarkModeT()">Dark Mode</button>
			</nav>
		</div>
	</header>

	<main class="container mx-auto p-4">
		<div id="content" class="bg-white p-6 rounded shadow-md">
			<%- body %>
		</div>
	</main>

	<footer class="bg-gray-800 text-white p-4 mt-4">
		<div class="container mx-auto text-center">
			<p>&copy; 2025; 42 Transcendence by jkauker and fschuber</p>
		</div>
	</footer>

	<script src="/static/js/script.js" defer></script>
</body>

</html>