<div class="max-w-2xl mx-auto p-6 rounded-lg ">
    <h2 class="text-2xl font-bold mb-4 text-center">Find New Friends</h2>
    <div class="friend-search-container flex flex-col items-center">
        <input type="text" id="friendSearchInput" placeholder="Type to search for friends..."
            class="p-2 border rounded box-border" style="width: 300px; height: 40px;">
        <div id="friendSearchResults" class="w-full max-w-md box-border"></div>
    </div>
</div>
<!-- <script type="module" src="/static/js/add_friends.js"></script>
<script type="module" src="/static/js/friends.js"></script> -->
<script-config data-scripts="add_friends,friends"></script-config>