<div class="p-6 rounded-lg glow-green">
	<h1 class="text-4xl font-bold mb-4"><%= t('about.title') %></h1>
	<p class="text-2xl leading-relaxed mb-6">
		From the dying embers of civilization, a project emerged from 42, christened "Transcendence." In a world poised
		to crumble, a team dared to connect souls online, wielding Fastify, painting beauty with Tailwind CSS, and
		channeling real-time magic through Fastify's WebSocket prowess.

		The game within wasn't mere pastime; it was a crucible of friendships and rivalries, played in a 3D arena where
		every paddle movement, every strategic play, was instantly relayed through Fastify. Authentication was their
		sacred rite, guarded by NextAuth.js, while state was managed with Context API, like a secret language understood
		by few.

		Deployment was a frantic ritual against the encroaching digital dark. Docker images, forged in multi-stage
		builds, became the final defense.

		Transcendence wasn't just code; it was humanity's last gamble, a chance for digital ascension, a hope against
		the fading light. Would it save us, or would it be just a beautiful dream? Only time would tell, but one thing
		was certain: Transcendence would stand as a testament to human hope in the face of oblivion.</p>
	<br>
	<div class="flex items-center space-x-6">
		<div class="text-center">
			<img src="https://pg-p.ctme.caltech.edu/wp-content/uploads/sites/4/2023/03/full_stack_web_developer_salary-1.jpg" alt="Luca"
				class="w-24 h-24 rounded-full mx-auto">
			<h2 class="text-3xl font-semibold mt-4">Luca</h2>
			<a href="https://github.com/Lucabhm" target="_blank" class="glow-red hover:underline">GitHub
				Profile</a>
		</div>
		<div class="text-center">
			<img src="https://avatars.githubusercontent.com/u/128718390?v=4" alt="Nick"
				class="w-24 h-24 rounded-full mx-auto">
			<h2 class="text-3xl font-semibold mt-4">Nick</h2>
			<a href="https://github.com/nicktalm" target="_blank" class="glow-red hover:underline">GitHub
				Profile</a>
		</div>
		<div class="text-center">
			<img src="https://avatars.githubusercontent.com/u/142174400?v=4" alt="Leo"
				class="w-24 h-24 rounded-full mx-auto">
			<h2 class="text-3xl font-semibold mt-4">Leo</h2>
			<a href="https://github.com/lglauch" target="_blank" class="glow-red hover:underline">GitHub
				Profile</a>
		</div>
		<div class="text-center">
			<img src="https://avatars.githubusercontent.com/u/87537789" alt="Jonas"
				class="w-24 h-24 rounded-full mx-auto">
			<h2 class="text-3xl font-semibold mt-4">Jonas</h2>
			<a href="https://github.com/Reptudn" target="_blank" class="glow-red hover:underline">GitHub
				Profile</a>
		</div>
		<div class="text-center">
			<img src="https://avatars.githubusercontent.com/u/120249199" alt="Freddy"
				class="w-24 h-24 rounded-full mx-auto">
			<h2 class="text-3xl font-semibold mt-4">Freddy</h2>
			<a href="https://github.com/FreddyMSchubert" target="_blank" class="glow-red hover:underline">GitHub
				Profile</a>
		</div>
	</div>
</div>