<div>
	<button class="bg-green-500">Create New Game</button>
	<button class="bg-blue-500">Join Game</button>
	<br>
	<h1>Recent Games</h1>
	<!-- display recent games here with a list of divs where green bg is won and red bg is lost -->
	<div class="recent_games">
		<% if (recent_games.length === 0) { %>
			<p class="glow-green">No recent games found.</p>
		<%  } else { recent_games.forEach(game => { %>
		<div class="game_card <%= game.winner_id === user_id ? 'bg-green-500' : 'bg-red-500' %> p-4 mb-2 rounded">
			<p class="text-sm">Status: <%= game.winner_id === user_id ? 'Won' : 'Lost' %></p>
			<p class="text-sm">Date: <%= new Date(game.created_at).toLocaleDateString() %></p>
		<% }) } %>
	</div>
</div>
<script src="" defer></script>