<div class="max-w-4xl mx-auto p-6 bg-white rounded-lg shadow-md">
	<h3 class="text-2xl font-bold mb-4"><%= t('index.title') %></h3>
	<p class="text-lg leading-relaxed text-gray-700"><%= t('index.description') %></p>
	<p class="text-lg leading-relaxed text-gray-700">my dear <%= name %>!</p>
	<p class="text-lg leading-relaxed text-gray-700">Here you cant see anything yet lol</p>
</div>
