<div class="max-w-4xl p-6 rounded-lg">
	<h3 class="text-4xl font-bold mb-4 glow-green ">this is your main page</h3>
	<p class="text-2xl leading-relaxed text-gray-700 glow-green">my dear <%= name %>!</p>
	<p class="text-2xl leading-relaxed text-gray-700 glow-green">here you cant see anything yet lol</p>
</div>