<div>
	<a onclick="setLanguageCookie('en')">English</a> | 
	<a onclick="setLanguageCookie('de')">German</a> |
	<a onclick="setLanguageCookie('fr')">French</a>
	<!-- <a onclick="setLanguageCookie('en')">English</a> | 
	<a onclick="setLanguageCookie('de')">German</a> |
	<a onclick="setLanguageCookie('fr')">French</a> -->
</div>
<script type="module" src="/static/js/locales.js"></script>