<div>
	<a href="?lng=en" onclick="setLanguageCookie('en')">English</a> | 
	<a href="?lng=de" onclick="setLanguageCookie('de')">German</a> |
	<a href="?lng=fr" onclick="setLanguageCookie('fr')">French</a>
</div>
<script type="module" src="/static/js/locales.js"></script>