<div class="mb-6">
	<label for="totp" class="block font-bold mb-2 text-2xl">2fa token</label>
	<input type="totp" id="totp" name="2FA" placeholder="> ____________"
		class="w-full rounded-lg glow-green text-2xl hover:glow-blue">
</div>