<% if (has_totp) { %>
<div>
	<button onclick="disable2fa()" class="bg-[#ff0000] text-white font-bold py-2 px-4 rounded">
		Disable 2fa
	</button>
	<img id="2fa-qr" alt="QR Code for 2FA" />
</div>
<% } else { %>
<div>
	<button onclick="enable2fa()" class="bg-[#00ff00] text-white font-bold py-2 px-4 rounded">
		Enable 2fa
	</button>
	<img id="2fa-qr" alt="QR Code for 2FA" />
</div>
<% } %>
<script type="module" src="/static/js/totp.js"></script>