<nav class="space-x-4">
	<button data-page="index" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
		onclick="loadPartialView('index')">Home</button>
	<button data-page="profile" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
		onclick="loadPartialView('profile')">Profile</button>
	<button data-page="game" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
		onclick="loadPartialView('game')">Game</button>
	<button data-page="logout" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
		onclick="if (confirm('Are you sure you want to logout?')) { localStorage.setItem('token', ''); updateMenu(); loadPartialView('index'); }">
			Logout
	</button>
	<button data-page="about" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
		onclick="loadPartialView('about')">About</button>
</nav>