<!DOCTYPE html>

<html lang="en">
  <head>
	<title>Home</title>
  </head>
  <body>
	<header>
		<h1>Welcome to Transcendence</h1>
		<nav>
			<button onclick="loadPartialView('index')">Home</button>
			<button onclick="loadPartialView('profile')">Profile</button>
			<button onclick="loadPartialView('game')">Game</button>
			<button onclick="loadPartialView('login')">Login</button>
			<button onclick="loadPartialView('signup')">Register</button>
		</nav>
		<script>
			async function loadPartialView(page) {
				const response = await fetch(`/partial/${page}`);
				const html = await response.text();
				document.getElementById('content').innerHTML = html;
			}
		</script>
		<link rel="stylesheet" href="/css/root.css">
		<link rel="stylesheet" href="/css/styles.css">
		<script src="/js/index.js" defer></script>
    </header>

    <main>
		<div id="content">
			<%- body %>
		</div>
    </main>

	<footer>
		<p>&copy; 2024 42 Transcendence by jkauker and fschuber</p>
    </footer>
  </body>
</html>

<!-- https://github.com/fastify/point-of-view -->