<!DOCTYPE html>

<html lang="en">
  <head>
	<title>Home</title>
  </head>
  <body>
	<header>
		<h1>Welcome to Transcendence</h1>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
			</ul>
		</nav>
    </header>

    <main>
		<%- body %>
    </main>

	<footer>
		<p>&copy; 2024 42 Transcendence by jkauker and fschuber</p>
    </footer>
  </body>
</html>

<!-- https://github.com/fastify/point-of-view -->